@font-face {
    font-family: 'museo_sans500';
    src: url('/assets/fonts/museosans_500-webfont.eot');
    src: url('/assets/fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/museosans_500-webfont.woff2') format('woff2'),
         url('/assets/fonts/museosans_500-webfont.woff') format('woff'),
         url('/assets/fonts/museosans_500-webfont.ttf') format('truetype'),
         url('/assets/fonts/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans300';
    src: url('/assets/fonts/museosans-300-webfont.eot');
    src: url('/assets/fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/museosans-300-webfont.woff2') format('woff2'),
         url('/assets/fonts/museosans-300-webfont.woff') format('woff'),
         url('/assets/fonts/museosans-300-webfont.ttf') format('truetype'),
         url('/assets/fonts/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans700';
    src: url('/assets/fonts/museosans-700-webfont.eot');
    src: url('/assets/fonts/museosans-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/museosans-700-webfont.woff2') format('woff2'),
         url('/assets/fonts/museosans-700-webfont.woff') format('woff'),
         url('/assets/fonts/museosans-700-webfont.ttf') format('truetype'),
         url('/assets/fonts/museosans-700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans900';
    src: url('/assets/fonts/museosans-900-webfont.eot');
    src: url('/assets/fonts/museosans-900-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/museosans-900-webfont.woff2') format('woff2'),
         url('/assets/fonts/museosans-900-webfont.woff') format('woff'),
         url('/assets/fonts/museosans-900-webfont.ttf') format('truetype'),
         url('/assets/fonts/museosans-900-webfont.svg#museo_sans900') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antoniobold';
    src: url('/assets/fonts/antonio-bold-webfont.eot');
    src: url('/assets/fonts/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/antonio-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/antonio-bold-webfont.woff') format('woff'),
         url('/assets/fonts/antonio-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/antonio-bold-webfont.svg#antoniobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'antoniolight';
    src: url('/assets/fonts/antonio-light-webfont.eot');
    src: url('/assets/fonts/antonio-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/antonio-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/antonio-light-webfont.woff') format('woff'),
         url('/assets/fonts/antonio-light-webfont.ttf') format('truetype'),
         url('/assets/fonts/antonio-light-webfont.svg#antoniolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'antonioregular';
    src: url('/assets/fonts/antonio-regular-webfont.eot');
    src: url('/assets/fonts/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/antonio-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/antonio-regular-webfont.woff') format('woff'),
         url('/assets/fonts/antonio-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/antonio-regular-webfont.svg#antonioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}