@charset "UTF-8";

// Normalize.css
@import "normalize";

@import "settings"; // Default settings file. Uncomment each setting you need to change

$primary-color: #ef4523;
$lp-gray: #a0a8a0;

// Media Query Ranges
$small-range: (0em, 64em);
$medium-range: (64em, 64em);
$large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em, 99999999em);

@import "foundation";
@import "fonts";

 
/*
   HEADER SECTION
   ========================================================================== */
.header-section {
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
    position: fixed;
    z-index: 999;
    min-width: 100%;
}
 
.contain-to-grid {
    background-color: rgba(0, 0, 0, 0.3);
}
 
// FILL USED FOR HEADER
.header-fill {
    height: 135px;
    .tablet-mobile-logo img {
        padding-top: 30px;
    }
}
 
// USED FOR JQUERY ACTION
.top-bar.padding-on-my-header {
    padding: 17px 0.9375rem 62px 0.9375rem;
    ul.title-area img {
        margin: -5px 0 0 0;
    }
}
 
.full-width {
    min-width: 100%;
}
 
/*
   TOPBAR NAVGATION
   ========================================================================== */
.top-bar
{
    background: none;
    padding: 45px 0.9375rem 90px 0.9375rem;
    transition: all 0.5s ease 0.1s;
    // LOGO ADJUSTMENT
    ul.title-area li h1{
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 800;
      color: $white;
    }
    ul.title-area img {
        margin: -10px 0 0 0;
        height: 100%;
    }
    .top-bar-section ul {
        background: none;
        // MENU ITEM STYLES
        li a:not(.button), li.active a:not(.button) {
            background: none;
            line-height: 30px;
            font-size: 12px;
            padding: 0;
            margin: 5px 0 0 0;
            text-transform: uppercase;
        }
        // MENU ITEM HOVERS
        li a:not(.button):hover {
            background: none;
            border-bottom: 2px solid $primary-color;
            color: $iron;
        }
        // MENU ITEM ACTIVE
        li.active a:not(.button) {
            border-bottom: 2px solid $primary-color;
            color: $iron;
            &:hover {
                background: none;
            }
        }
        li {
            margin-left: 30px;
            background: none;
            a {
                color: $iron;
            }
        }
    }
    // DROPDOWN MENU
    .top-bar-section ul li:hover:not(.has-form) > a {
        color: $iron;
    }
    .top-bar-section li ul.dropdown {
        background: #fff;
        border: 1px solid #ddd;
        color: #888;
        li {
            border-bottom: 1px solid #ddd;
            margin: 0;
            padding: 5px 15px 5px 15px;
        }
    }
    .top-bar-section li ul.dropdown li a:not(.button):hover, .top-bar-section li ul.dropdown li a:not(.button) {
        background: none;
        color: $iron;
        border-bottom: none;
        padding: 20px -4px 40px 45px;
    }
    .top-bar-section ul.dropdown li:hover:not(.has-form) > a:not(.button) {
        background: none;
        color: $iron;
    }
    // DROPDOWN ARROW
    .has-dropdown > a:after {
        border-color: rgba(0, 0, 0, 0.5) transparent transparent;
        margin-top: -5px;
    }
}

// Mobile menu adjustments

@media only screen and (max-width: 1024px) {
  
  .header-fill{
    height: 45px;
  }
  
  .top-bar.padding-on-my-header{
    padding: 0 0 0 0;
  }
 
    .top-bar {
        margin-top: 0;
        padding: 0;
        float: none;
        // MENU BUTTON AND HAMBURGER ICON
        .toggle-topbar.menu-icon a {
            color: #222;
            &:after {
                box-shadow: 0 10px 0 1px #222, 0 16px 0 1px #222, 0 22px 0 1px #222;
            }
        }
        // LOGO
        ul.title-area li h1{
          text-align: left;
          margin-left: 1rem;
          font-size: 1.5rem;
        }
        ul.title-area img {
            margin: -2px 0 0;
            width: 145px;
        }
        .top-bar-section {
            ul {
                background: #333;
                li {
                    margin-left: 0;
                }
                li > a {
                    background: $primary-color;
                    border-radius: 0;
                    font-size: 0.9rem;
                }
                // NORMAL BUTTONS
                li:not(.has-form) a:not(.button) {
                    background: none;
                    color: #fff;
                    padding: 10px 15px;
                    margin-top: 0;
                    &:hover {
                        background: $primary-color;
                        color: #fff;
                        margin-top: 0;
                    }
                }
                // ACTIVE BUTTON
                li.active:not(.has-form) a:not(.button) {
                    background: $primary-color;
                    color: #fff;
                    padding: 10px 15px;
                    margin-top: 0;
                    &:hover {
                        background: lighten($primary-color, 5%);
                        margin-top: 0;
                    }
                }
            }
        }
    }
    // SMALLER IMAGE
    .top-bar.padding-on-my-header ul.title-area img {
        margin: 5px 13px 0;
        width: 35px;
    }
    // EXPANDED TOPBAR MENU
    .top-bar.expanded {
        margin-top: 0;
        padding: 0;
        float: none;
        .toggle-topbar.menu-icon a {
            color: #fff;
            &:after {
                box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
            }
        }
    }
  
}
 
 
/*
   CONTENT SECTION
   ========================================================================== */
   
// Hero Images Only
 
.out-of-grid{
  position: relative;
  margin: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 59%, rgba(0, 0, 0, 0.5) 100%), url("/images/constr.jpg") no-repeat center center;
  background-size: cover;
  background-position: center bottom;
  img{
    position: absolute;
    width: 20rem;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
  }
  #home-heading{
    h1{
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      font-size: 1.5rem;
    }
  }
  @media #{$large-up}{
    height: 600px;
  }
}

.content-wrap{
  @include grid-row();
  position: relative;
  padding: 3rem;
  top: 50%;
}

.overlay-content{
  @include grid-column(12);
  h1{
    color: $white;
    font-weight: bold;
    text-align: center;
  }
  transform: translateY(-50%);
}

//Main Content

h1{
  text-align: center;
  text-transform: uppercase;
  color: $white;
}

p{
  text-align: center;
}

section.brown-info{
  margin: 0;
  width: 100%;
  background-color: #563f2d;
  h1, p{
    color: $white;
  }
}

.home-info{
  @include grid-row();
  p{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #home-content{
    @include grid-column(12);
    @media #{$large-up}{
      display: block;
      @include grid-column($columns:10, $center:true, $last-column:true);
    }
  }
}

section.white-info{
  margin: 0;
  width: 100%;
  background-color: $white;
  position: relative;
  padding-top: 2rem;
  @media #{$large-up}{
    min-height: rem-calc(675);
  }    
  h1{
    font-size: 1.5rem;
  }
  h1, p{
    color: $jet;
  }
  .gray-block{
    position: absolute;
    top: 60%;
    left: 0;
    height: 40%;
    width: 100%;
    background-color: $lp-gray;
    display: none;
    @media #{$large-up}{
      display: block;
    }    
  }
}

#att-info{
  @include grid-row();
}

#att-info-inner{
  @include grid-column(12);
  @media #{$large-up}{
    display: block;
    @include grid-column($columns:10, $center:true, $last-column:true);
  }
}

#info-blocks{
  @include grid-row();
  padding: 1rem;
}

.info-block{
  @include grid-column(12);
  position: relative;
  text-align: center;
  background-color: $white;
  border: 0px solid $white;
  border-radius: 10px;
  h3{
    margin-top: 1rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: $jet;
  }
  p{
    margin-bottom: 0;
  }
  a.bio{
    display: block;
    width: 100%;
    margin: auto;
    padding: rem-calc(5);
    background-color: #563f2d;
    color: $white;
    border-radius: 5px;
    font-family: $header-font-family;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .fa{
    margin: 1rem 0 0 0;
    color: #563f2d;
    font-size: 2rem;
  }
  @media #{$large-up}{
    @include grid-column(4);
    padding: 0;
    &:hover{
      .showme{
        max-height: 10rem;
        visibility: visible;
        opacity: 1;
      }
      .info-bottom-arrow{
        display: none;
      }
    }
  }
  .inner{
    position: relative;
    //height: 250px;
    padding: 2rem;
  }
}

.info-bottom-arrow{
  display: none;
  position: absolute;
  bottom: rem-calc(-25);
  width: 100%;
  text-align: center;
  background: none;
  @media #{$large-up}{
    display: block;
  }
  .fa{
    color: $jet;
    background-color: $white;
    padding: 1rem 0 0 0;
    margin: 0;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
  }
}

.showme{
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .5s linear, height 1s;
}

#practice{
  background: url('/images/wood.jpg');
  background-size: cover;
}

#practice-contain{
  @include grid-row();
  padding-top: 5rem;
  padding-bottom: 5rem;
  #description{
    @include grid-column(12);
    padding: 2rem;
    background: $white;
    h1, h2, h3, h4{
      color: $jet;
    }
    p {
      color: $jet;
      text-align: left;
    }
    ul {
      color: $lp-gray;
      list-style: none;
    }
    @media #{$large-up}{
      @include grid-column(7);
      padding: 2rem;
    }
  }
  #pretty{
    display: none;
    background: url('/images/image4.jpg');
    background-size: cover;
    @media #{$large-up}{
      display: block;
      @include grid-column(5);
    }
  }
}
 
 
/*
   FOOTER SECTION
   ========================================================================== */
   
input[type=text], textarea{
  color: $lp-gray;
  border-radius:10px;
}

input::placeholder{
  color: $lp-gray;
}

textarea::placeholder{
  color: $lp-gray;
}

textarea{
  min-height: 10rem;
}

button#submit-button{
  padding: 0;
  margin: 0;
  width: 4rem;
  height: 4rem;
  background-color: $lp-gray;
  border-radius: 50%;
  font-size: 1.5rem;
  &:hover{
    background-color: scale-color($lp-gray, $lightness: -25%);
  }
}
 
.footer-section {
    background: #563f2d;
    min-height: 100px;
    p {
        color: $lp-gray;
        margin-top: 2rem;
    }
    h1{
      color: $lp-gray;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
}

section#contact{
  @include grid-row($behavior:'collapse');
  margin: 0;
  max-width: initial;
  width: 100%;
}

#map-contain{
  @include grid-column(12);
  position: relative;
  float: left;
  max-width: 100%;
  width: 100%;
  height: 25rem;
}

#map-contain iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

#contact-contain{
  @include grid-row();
  padding-top: 2rem;
  .contact-form{
    @include grid-column($columns:8, $center:true, $last-column:true);
    text-align: center;
    @media #{$large-up}{
      display: block;
      @include grid-column($columns:6, $center:true, $last-column:true);
    }
  }
}

#contact-success{
  background-color: #563f2d;
  border: none;
  h2{
    text-align: center;
  }
}

#lp-info-contain{
  @include grid-row();
  #lp-info{
    @include grid-column($columns:8, $center:true, $last-column:true);
    @media #{$large-up}{
      display: block;
      @include grid-column($columns:6, $center:true, $last-column:true);
    }
  }
}